body {
  background: url("https://i.ibb.co/4SR88N8/Chick.jpg");
  overflow: hidden;
}

#canvas {
  width: 960px;
  height: 680px;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#mute {
  padding: 5px;
  position: absolute;
  right: 20;
  top: 30;
}
/* #game {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#listPlayers {
  list-style: none;
}

.divScore {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: white;
  position: absolute;
  right: 40;
  top: 70;
  border-radius: 3px;
}
#titreScore {
  padding: 3px;
}
.titreAccueil {
  color: white;
  text-align: center;
}
.bodyAccueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.startGame {
  width: 300px;
  height: 80px;
  border-radius: 5px;
  background: yellow;
  outline: none;
  font-size: 40px;
  border: 1px solid orange;
  color: orange;
}
#imgPoussin {
  height: 50vh;
  margin: 3vh;
}
